.button-start {
    -fx-font-size: 14px;
    -fx-text-fill: white;
    -fx-background-color: #4CAF50;
    -fx-padding: 10px 20px;
    -fx-border-radius: 5;
    -fx-background-radius: 5;
}

.button-start:hover {
    -fx-background-color: #45a049;
}

.label-title {
    -fx-font-size: 22px;
    -fx-text-fill: #333333;
    -fx-font-weight: bold;
}